body,
span,
h1,
h2,
h3,
ul,
p,
a {
  margin: 0;
  padding: 0;
}

body {
  color: #0b132a;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

header .header-nav {
  padding: 45px 150px 0;
  justify-content: space-between;
  align-items: center;
}

header .header-nav .logo {
  display: flex;
}

header .header-nav .main-nav a {
  margin-right: 35px;
  font: normal normal 400 16px/19px "Rubik";
  color: #4f5665;
}

header .header-nav .main-nav a:hover {
  text-decoration: underline;
}

header .header-nav .main-nav a:last-child {
  margin-right: 0;
}

header .header-nav .login a {
  /* font: normal normal 500 16px/19px "Rubik"; */
  font-family: "Rubik";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0b132a;
}

header .header-nav .login .white-btn {
  margin-left: 30px;
  padding: 13px 45px;
  color: #f53855;
  border: 1px solid #f53855;
  box-sizing: border-box;
  border-radius: 50px;
}

header .header-content {
  padding-left: 150px;
  padding-bottom: 103px;
  justify-content: space-around;
  align-items: flex-end;
}

header .header-content .left-column {
  max-width: 705px;
}

header .header-content h1 {
  margin-top: 120px;
  margin-bottom: 20px;
  font: normal normal 500 50px/70px "Rubik";
}

header .header-content h1 .bold {
  font-weight: 700;
}

header .header-content .caption {
  margin-bottom: 50px;
  font: normal normal 400 16px/30px "Rubik";
  color: #4f5665;
}

header .header-content .caption .bold {
  font: normal normal 500 16px/30px "Rubik";
}

.red-btn {
  width: 250px;
  padding: 18px 0;
  font: normal normal 700 16px/25px "Rubik";
  text-align: center;
  color: #ffffff;
  background: #f53838;
  border-radius: 10px;
  box-shadow: 0 33px 54px -15px rgba(245, 56, 56, 0.6);
  transition: all 0.5s ease;
}

.red-btn:hover {
  transform: scale(1.05);
  transition: all 0.5s ease;
}

header .header-content .img-container {
  position: relative;
  margin-top: 93px;
  margin-right: 150px;
  margin-left: 40px;
}

header .header-content .ill-icons,
header .header-content .graph {
  position: absolute;
}

header .header-content .lock-icon {
  top: 0;
  left: 14.6px;
  animation: translate 1.4s linear infinite;
}

header .header-content .play-icon {
  top: 0;
  right: 213.5px;
  animation: translate 1.3s linear infinite;
}

header .header-content .en-icon {
  top: 134px;
  left: 68.6px;
  animation: translate 1.5s linear infinite;
}

@keyframes translate {
  50% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}

header .header-content .graph {
  padding-bottom: 37.5px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 112.92px;
  height: 82.37px;
  top: 66.1px;
  right: 63px;
  background: url("img/Ill-icon4.0.png") no-repeat center;
}

header .header-content .graph img {
  margin-right: 8px;
}

header .header-content .graph .graph-1 {
  transform-origin: center bottom;
  animation: scale 1.5s 300ms linear infinite;
}

header .header-content .graph .graph-2 {
  transform-origin: center bottom;
  animation: scale 1.5s 500ms linear infinite;
}

header .header-content .graph .graph-3 {
  margin-right: 0;
  transform-origin: center bottom;
  animation: scale 1.5s 700ms linear infinite;
}

@keyframes scale {
  50% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.3);
  }
}

.stats {
  margin: 0 150px;
  padding: 67.5px 0;
  justify-content: center;
  box-shadow: 0 65px 129px -33px rgba(13, 16, 37, 0.06);
  border-radius: 10px;
}

.stats .stats-card {
  padding-left: 100px;
  padding-right: 130px;
  border-right: 2px solid #eeeff2;
}

.stats .stats-card:last-child {
  border-right: none;
}

.stats .stats-card .card-row {
  align-items: center;
}

.stats .stats-card img {
  margin-right: 36.5px;
}

.stats .stats-card .number {
  margin-bottom: 5px;
  font: normal normal 700 25px/30px "Rubik";
}

.stats .stats-card .label {
  font: normal normal 400 20px/30px "Rubik";
  color: #4f5665;
}

.advantages {
  padding: 54px 150px 131px 184px;
  justify-content: space-around;
  align-items: center;
}

.advantages .img-container {
  position: relative;
}

.advantages .img-container .heart {
  position: absolute;
}

.advantages .img-container .heart-1 {
  top: 69px;
  left: 174px;
  opacity: 0;
  animation: opacity 2s 100ms linear infinite;
}

.advantages .img-container .heart-2 {
  top: 46px;
  left: 254px;
  opacity: 0;
  animation: opacity 2s 300ms linear infinite;
}

.advantages .img-container .heart-3 {
  top: 28px;
  left: 209px;
  opacity: 0;
  animation: opacity 2s 500ms linear infinite;
}
.advantages .img-container .heart-4 {
  top: 10px;
  left: 243px;
  opacity: 0;
  animation: opacity 2s 700ms linear infinite;
}
.advantages .img-container .heart-5 {
  top: 0;
  left: 187px;
  opacity: 0;
  animation: opacity 2s 900ms linear infinite;
}

@keyframes opacity {
  50% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.advantages .advantages-list {
  margin-top: 53px;
  margin-left: 170px;
  width: 430px;
}

.advantages .advantages-list h2 {
  margin-bottom: 20px;
  font: normal normal 500 35px/50px "Rubik";
}

.advantages .advantages-list .caption {
  margin-bottom: 20px;
  font: normal normal 400 16px/30px "Rubik";
  color: #4f5665;
}

.advantages .advantages-list .item {
  margin-bottom: 15px;
  align-items: center;
  font: normal normal 400 14px/30px "Rubik";
  color: #4f5665;
}

.advantages .advantages-list .item .check {
  margin-right: 11px;
  margin-bottom: 3px;
}

.plan {
  padding-top: 80px;
  background: linear-gradient(
    180deg,
    #f8f8f8 -45.04%,
    rgba(248, 248, 248, 0) 88.56%
  );
}

.plan .title {
  margin-bottom: 20px;
  font: normal normal 500 35px/50px "Rubik";
  text-align: center;
}

.plan .caption {
  margin-bottom: 60px;
  font: normal normal 400 16px/30px "Rubik";
  color: #4f5665;
  text-align: center;
}

.plan .items-row {
  justify-content: center;
}

.plan .items-row .plan-card {
  height: 760px;
  margin-right: 50px;
  padding: 79.6px 69px 50px;
  background: #ffffff;
  border: 2px solid #dddddd;
  box-sizing: border-box;
  border-radius: 10px;
  align-items: center;
  transition: all 0.5s ease;
}

.plan .items-row .plan-card:last-child {
  margin-right: 0;
}

.plan .items-row .plan-card.active-card {
  border: 2px solid #f53838;
}

.plan .items-row .plan-card .box {
  margin-bottom: 30px;
}

.plan .items-row .plan-card .name-plan {
  margin-bottom: 30px;
  font: normal normal 500 18px/30px "Rubik";
}

.plan .items-row .plan-list {
  flex: 1;
}

.plan .items-row .plan-card .plan-item {
  margin-bottom: 10px;
  font: normal normal 400 14px/30px "Rubik";
  color: #4f5665;
}

.plan .items-row .plan-card .plan-item::before {
  content: "";
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 2px;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-image: url("icn/check.svg");
}

.plan .items-row .plan-card .down {
  align-items: center;
}

.plan .items-row .plan-card .price {
  margin-bottom: 20px;
  font: normal normal 400 25px/30px "Rubik";
}

.plan .items-row .plan-card .select-btn {
  padding: 13px 63px;
  font: normal normal 700 16px/19px "Rubik";
  color: #f53855;
  border: 2px solid #f53855;
  box-sizing: border-box;
  border-radius: 50px;
  transition: all 0.5s ease;
}

.plan .items-row .plan-card .select-btn:hover {
  box-shadow: 0 22px 54px -18px rgba(245, 56, 56, 0.4);
  transition: all 0.3s ease;
  transform: scale(1.05);
}

.plan .items-row .active-card .active-btn {
  color: white;
  background-color: #f53838;
  box-shadow: 0 25px 54px -17px rgba(245, 56, 56, 1);
}

.plan .items-row .active-card .active-btn:hover {
  box-shadow: 0 25px 54px -17px rgba(245, 56, 56, 1);
  transform: scale(1);
}

.location {
  padding: 150px 0 84px;
  align-items: center;
  text-align: center;
}

.location .title {
  margin-bottom: 20px;
  font: normal normal 500 35px/50px "Rubik";
}

.location .caption {
  width: 555px;
  margin-bottom: 60px;
  font: normal normal 400 16px/30px "Rubik";
  color: #4f5665;
}

.location .caption .bold {
  font: normal normal 500 16px/30px "Rubik";
}

.location .map-div {
  position: relative;
}

.location .map-div .map-dots {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.logos-section {
  margin: 0 150px;
  align-items: center;
  justify-content: space-between;
}

.logos-section img {
  display: block;
  margin-bottom: 98px;
  cursor: pointer;
  /* margin-right: 50px; */
}

.logos-section .netflix {
  padding-bottom: 2px;
}

.logos-section .reddit {
  padding-bottom: 6px;
}

.logos-section .amazon {
  padding-top: 12px;
}

.logos-section .spotify {
  padding-bottom: 8px;
}

.comment-section .title-column {
  text-align: center;
  align-items: center;
}

.comment-section .title {
  margin-bottom: 20px;
  font: normal normal 500 35px/50px "Rubik";
}

.comment-section .caption {
  width: 555px;
  margin-bottom: 60px;
  font: normal normal 400 16px/30px "Rubik";
  color: #4f5665;
}

.comment-section .card-section {
  padding-left: 150px;
  margin-bottom: 60px;
  justify-content: flex-end;
  box-sizing: border-box;
  /** For the box shadow fix */
  overflow: hidden;
  padding-bottom: 100px;
}

.comment-section .card-section .comment-card {
  width: 400px;
  height: 250px;
  margin-right: 50px;
  padding: 30px;
  border: 2px solid #dddddd;
  box-sizing: border-box;
  border-radius: 10px;
}

.comment-section .comment-card:last-of-type {
  margin-right: 0;
}

.comment-section .comment-card.active {
  border-color: #f53838;
  box-shadow: 0 66px 129px -35px rgba(13, 16, 37, 0.1);
  transition: box-shadow 0.3s cubic-bezier(0.5, 0.07, 0.38, 0.99);
}

.comment-section .comment-card .user-row {
  margin-bottom: 20px;
  align-items: center;
}

.comment-section .comment-card .user-avatar {
  margin-right: 20px;
}

.comment-section .comment-card .name-location {
  flex: 1;
}

.comment-section .comment-card .user-name {
  font: normal normal 500 18px/18px "Rubik";
}

.comment-section .comment-card .user-location {
  margin-top: 5px;
  font: normal normal 400 14px/14px "Rubik";
  color: #4f5665;
}

.comment-section .comment-card .rating-row {
  align-items: center;
}

.comment-section .comment-card .rating {
  margin-right: 10px;
  font: normal normal 400 16px/16px "Rubik";
}

.comment-section .comment-card .rating-star {
  margin-bottom: 1.5px;
}

.comment-section .comment-card .comment {
  font: normal normal 400 16px/30px "Rubik";
}

.comment-section .switch-panel {
  margin: -100px 150px 182px 150px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 500;
}

.comment-section .switch-panel .left {
  position: relative;
}

.comment-section .switch-panel .left .active {
  position: absolute;
  width: 48px;
  height: 16px;
  border-radius: 8px;
  background-color: #f53838;
  transition: left 0.44s ease-out;
  margin-left: 1px;
}

.comment-section .switch-panel .left img {
  margin-right: 15px;
}
.comment-section .switch-panel .left img:last-child {
  margin: 0;
}
.comment-section .switch-panel .right .arrow-left {
  cursor: pointer;
  margin-right: 20px;
}

.comment-section .switch-panel .right .arrow-right {
  cursor: pointer;
  position: relative;
  width: 60px;
  height: 61px;
  overflow: hidden;
}

.comment-section .switch-panel .right .arrow-right img {
  position: absolute;
  top: -30px;
  left: -44px;
}

footer {
  padding-bottom: 105px;
  background: #f8f8f8;
}

footer .subscribe {
  margin: 0 150px;
  padding: 58.5px 70px;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 13px 106px -36px rgba(13, 16, 37, 0.1);
  transform: translateY(-121px);
}

footer .subscribe .title {
  margin-bottom: 20px;
  font: normal normal 500 35px/45px "Rubik";
  width: 370px;
}

footer .subscribe .caption {
  font: normal normal 400 16px/30px "Rubik";
  color: #4f5665;
}

footer .column {
  align-items: flex-start;
}

footer .logo-column {
  flex: 4;
  padding-left: 150px;
  width: 340px;
}

footer .logo-column .logo {
  margin-bottom: 20px;
}

footer .logo-column .caption {
  margin-bottom: 30px;
  width: 340px;
  font: normal normal 400 16px/30px "Rubik";
  color: #4f5665;
}

footer .logo-column .caption .bold {
  font: normal normal 500 16px/30px "Rubik";
}

footer .logo-column .footer-social {
  margin-bottom: 30px;
}

footer .logo-column .social-btn {
  margin-right: 20px;
  width: 33.6px;
  height: 33.6px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 13px 27px -10px rgba(13, 16, 37, 0.6);
  border-radius: 50%;
  background-color: #ffffff;
}

footer .logo-column .social-btn .fb-icon {
  margin-right: 2px;
  margin-top: 4px;
}

footer .logo-column .social-btn .twi-icon {
  margin-left: 2px;
  margin-top: 5px;
}

footer .logo-column .social-btn .inst-icon {
  margin-left: 1px;
  margin-top: 4px;
}

footer .logo-column .copyright {
  font: normal normal 400 16px/30px "Rubik";
  color: #afb5c0;
}

footer .logo-column .copyright .bold {
  font: normal normal 500 16px/30px "Rubik";
}

footer .menu-list {
  margin-right: 50px;
  flex: 1;
}

footer .menu-list:last-of-type {
  margin-right: 150px;
}

footer .menu-list .menu-title {
  margin-bottom: 20px;
  font: normal normal 500 18px/30px "Rubik";
}

footer .menu-list .menu-column {
  list-style: none;
}

footer .menu-list .menu-item {
  margin-bottom: 10px;
}

footer .menu-list .menu-item a {
  font: normal normal 400 16px/30px "Rubik";
  color: #4f5665;
}

footer .menu-list .menu-item a:hover {
  text-decoration: underline;
}

/** Here goes my changes */
.owl-carousel .owl-item img.user-avatar {
  display: block;
  width: 50px;
}

#js-carousel-1 .owl-stage-outer {
  overflow: visible;
}
